on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
          mirror: https://mirror.zml.ai/zig

      - name: zig fmt
        run: zig fmt --check src/

      - name: zig build install
        run: zig build install --summary all -freference-trace=20

